/* 商品詳細・変更画面 */
.container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form {
    width: 80%;
}
.breadcrumb a {
    color: skyblue;
    text-decoration: none;
}
.form__top {
    display: flex;
}
.form__image {
    margin-bottom: 20px;
    width: 40%;
}
.form__image img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.form__detail {
    width: 60%;
    padding-left: 20px;
}
.form__group {
    margin-bottom: 20px;
}
.form__label{
    display: flex;
    margin-bottom: 5px;
}
.form__group-input {
    background-color: #fff;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.form__group-input input,
.form__group-input textarea {
    width: 100%;
    padding: 6px;
    border: none;
}
.form__group-input input{
    height: 30px;
}
.form__group-input textarea {
    resize: none;
    height: 100px;
}
.form__check-group {
    display: flex;
    gap: 20px;
}
.form__error {
    color: red;
}

/* フォームボタン部分 */
.form__button {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form__button-common {
    width: 140px;
    height: 35px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}
.form__return-button {
    background-color: #ccc;
    color: #000;
}
.form__update-button {
    background-color: rgb(245, 201, 0);
    border: none;
}
.form__delete {
    margin-left: auto;
    margin-right: 100px;
}
.form__delete-button {
    border: none;
}
.form__delete-button img {
    width: 20px;
    height: auto;
}
