.header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 1230px;
    margin: 0 auto;
    z-index: 1000;      /* 他の要素の上に表示 */
    display: flex;
    align-items: flex-end;
    height: 60px;         /* ヘッダーの固定高さ */
    box-sizing: border-box; /* paddingを含めたサイズ調整 */
}
.body {
    padding-top: 30px;
}
.header__logo {
    margin-bottom: 10px;
    margin-left: 20px;
    font-family: "Charm", cursive;
    font-weight: 400;
    font-style: normal;
}
.header__logo a {
    color: rgb(245, 201, 0);
    text-decoration: none;
}
.main-container {
    background-color: #f8f8f8;
    max-width: 1230px;
    margin: 60px auto 0;
}
