/* 商品一覧画面 */
.button-common {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    font-size: 14px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.button-common:hover {
    cursor: pointer;
}

.product-list__header {
    padding: 30px 15px 0 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
}
.product-list__header__info {
    margin-left: 20px;
    font-size: 22px;
}
.product-list__add-button {
    background-color: orange;
    color: #000;
    font-weight: bold;
    padding: 5px 15px;
    margin: auto 0;
}
.product-list__layout {
    display: flex;
}

/* サイドバー */
.sidebar {
    width: 25%;
    padding: 0 20px 20px;
}
.sidebar__search-form {
    padding-bottom: 10px;
}
.sidebar__search-form input {
    width: 100%;
    border-radius: 15px;
    height: 30px;
    border: 1px solid #ccc;
}
.search__button {
    background-color: rgb(245, 201, 0);
    width: 100%;
    height: 30px;
    border: none;
    margin-bottom: 30px;
}
.sidebar__sort-form {
    padding-bottom: 15px;
    border-bottom: 1px solid #c6c6c6;
}
.sidebar__sort-title {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}
.sidebar__sort-list {
    color: #000;
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
/* 初期値 */
.sidebar__sort-list option[disabled] {
    color: #ccc;
}
.sidebar__sort-tag {
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 15px;
    border: 1px solid rgb(245, 201, 0);
}
.sidebar__sort-tag span {
    margin-right: 8px;
}
.sidebar__clear-sort {
    color: rgb(245, 201, 0);
    font-size: 10px;
    text-decoration: none;
    width: 15px;
    height: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid rgb(245, 201, 0);
}

/* 一覧画面 */
.products {
    width: 100%;
    min-height: 500px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-list {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
}
.product-item-link {
    text-decoration: none;
}
.product-item {
    width: 100%;
    height: 200px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    overflow: hidden;
}
.product-item img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    background-color: transparent;
}
.product-item__explanation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}
.product-name,
.product-price {
    font-size: clamp(0.8rem, 1vw, 1.1em);
    color: #000;
    white-space: nowrap;
}
.product-name {
    padding-right: 10px;
}

/* ページネーション */
.pagination {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
/* ページリンクの基本スタイル */
.pagination__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    font-size: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}
/* ホバー時 */
.pagination__link:hover {
    background-color: #ddd;
}
/* 現在のページ */
.pagination__link.active {
    background-color: #f9c21b; /* 黄色 */
    color: #fff;
}
/* 無効なリンク */
.pagination__link.disabled {
    pointer-events: none;
    opacity: 0.5;
}
