/* 商品登録画面 */
.product-register__container {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-register__title {
    font-size: 26px;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 70px;
    margin-bottom: 10px;
}

/* フォーム */
.form {
    width: 80%;
}
.form__group {
    margin-bottom: 20px;
}
.form__label {
    display: flex;
    margin-bottom: 10px;
}
.form__required {
    background-color: #e53935;
    font-size: 12px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    margin-left: 10px;
}
.form__group-input {
    background-color: #fff;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.form__group-input input,
.form__group-input textarea {
    width: 100%;
    padding: 8px;
    border: none;
}
.form__group-input input {
    height: 30px;
}
.form__group-input textarea {
    display: block;
    resize: none;
    height: 100px;
    line-height: 1.4;
    box-sizing: border-box;
}
.form__image img {
    width: 200px;
    height: auto;
    max-width: 100%;
}
.form__check-text {
    color: rgb(233, 38, 38);
    margin-left: 10px;
}
.form__check-group {
    display: flex;
    align-items: center;
    gap: 40px;
}
.custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.custom-checkbox__input {
    display: none; /* デフォルトのチェックボックスを非表示 */
}
.custom-checkbox__circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #666;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.1s ease, border-color 0.1s ease;
}
.custom-checkbox__circle::before {
    content: "✔";
    font-size: 10px;
    color: white;
    display: none; /* 初期状態では非表示 */
}
.custom-checkbox__input:checked +
.custom-checkbox__circle {
    background-color: #666;
    border-color: #666;
}
.custom-checkbox__input:checked +
.custom-checkbox__circle::before {
    display: block; /* チェックが入ったら表示 */
}
.custom-checkbox__label {
    margin-left: 5px;
    font-size: 16px;
}
.form__error {
    color: rgb(233, 38, 38);
    list-style: none;
    padding: 5px 0;
    margin: 0;
    font-size: 12px;
}

/* フォームボタン部分 */
.form__button {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    position: relative;
}
.form__button-common {
    width: 140px;
    height: 35px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    cursor: pointer;
}
.form__return-button {
    background-color: #ccc;
    color: #000;
}
.form__return-button:hover {
    background-color: #bbb;
}
.form__create-button {
    background-color: rgb(245, 201, 0);
    border: none;
}
.form__create-button:hover {
    background-color: rgb(223, 181, 0);
}
